body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(320deg, #74aee1, #f5caf3fe, #ffb5b0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px;
    background: #0d073f;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.05);
    border: solid;
    border-color: #74aee1;
}

.display-operation,
.display-result
 {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
    text-align: right;
    color: azure;
    background-color: #0d073f;
    border: none;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    padding: 10px 13px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #0d073f;
    border: solid;
    border-color: #74aee1;
    color: azure;
}

.buttons button:active {
    transform: scale(0.99);
}

.buttons .operator {
    color: #74aee1;
}

.operator {
    color: #2f9fff;
}

@media only screen and (max-width: 600px) {
    .operator {
        color: azure;
    }

    .buttons button {
        border-radius: 60px;
        color: azure;
        background-color: #0a0531;
        border: solid;
        border-color: #74aee1;
    }

    .buttons .operator {
        background-color: #74aee1;
        color: azure;
        border-radius: 60px;
    }

    .container {
        width: 90%;
        height: 80%;
        border-radius: 35px;
        border: solid;
        border-color: rgb(103, 171, 203);
    }

    .display {
        height: 80px;
        margin-bottom: 80px;
    }
}
